<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="appmsw-zpm-shields.ZPM">
<Module>
<Name>appmsw-zpm-shields</Name>
<Version>1.0.0</Version>
<Description>An exsample zpm-shields.</Description>
<Packaging>module</Packaging>
<Keywords>tools admin</Keywords>
<Author>
<Person>Mikhaylenko Sergey</Person>
<CopyrightDate>2021</CopyrightDate>
<License>MIT</License>
<Notes>
repository:
https://github.com/SergeyMi37/appmsw-zpm-shields
description:
.
</Notes>
</Author>
<SourcesRoot>src</SourcesRoot> 
<Resource Name="appmsw.rest.PKG"/> 
<AfterInstallMessage>
You can protect your solution by deleting the source code. Create an archive for database deployment and move it outside the container.
&#13;In a new instance, you can create a database from the archive with a new name.
&#13;https://github.com/SergeyMi37/appmsw-zpm-shields/blob/master/README.md
</AfterInstallMessage>
</Module>
</Document>
</Export>