<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="zpm-shields.ZPM">
<Module>
<Name>zpm-shields</Name>
<Version>1.0.0</Version>
<Description>An exsample zpm-shields.</Description>
<Packaging>module</Packaging>
<Keywords>tools admin</Keywords>
<Author>
<Person>Mikhaylenko Sergey</Person>
<CopyrightDate>2021</CopyrightDate>
<License>MIT</License>
<Notes>
repository:
https://github.com/SergeyMi37/appmsw-zpm-shields
description:
.
</Notes>
</Author>
<SourcesRoot>src</SourcesRoot> 
<Resource Name="dc.appmsw.shields.CLS"/> 
<CSPApplication CookiePath="/zpm-shields/" DefaultTimeout="900" DispatchClass="dc.appmsw.shields" MatchRoles=":%DB_IRISSYS" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="0" Url="/zpm-shields" UseSessionCookie="2"/>
<AfterInstallMessage>
You can load description:
&#13;https://github.com/SergeyMi37/appmsw-zpm-shields/blob/master/README.md
</AfterInstallMessage>
</Module>
</Document>
</Export>